@import "./App.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode styles */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}